<!--
 * @Author: your name
 * @Date: 2020-04-03 16:56:05
 * @LastEditTime: 2020-04-30 10:22:28
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \app\src\app\pages\relative-line\relative-line.page.html
 -->
<app-tabtitle [inpData]="titles"></app-tabtitle>

<ion-content>
  <ion-item (click)='selectSation()'>
    <ion-input placeholder='站点选择' style='text-align: right;' [(ngModel)]="stationName"></ion-input>
    <ion-label slot="end">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-label>

  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-select multiple="true" value="2018"  style="text-align: right;" [(ngModel)]="selectYear" interface="action-sheet" placeholder='选择时间'
          okText="确定" cancelText="取消">
          <ion-select-option value="{{year.value}}" *ngFor="let year of years">{{year.value}}年</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-select value="1" style="text-align: right;" [(ngModel)]="dataType" interface="action-sheet" placeholder='选择时间' okText="确定"
          cancelText="取消">
          <ion-select-option value="1">实测数据</ion-select-option>
          <ion-select-option value="2">整编数据</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>


 
    <ion-grid>
      <ion-row>
        <ion-col *ngFor='let select of seleceList'>
          <ion-button expand="full" size="small" color="{{select.flag?'primary':'light'}}" (click)='changeSelect(select.id)'>
            {{select.name}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  <ion-item lines='none'>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full" color="primary" (click)=" searchData()">查询</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <div id='relativeInfochart' class="relativeInfochart"></div>
</ion-content>