.item_title{
	height:60px;

}
.item_title h6{
	width:100%;
	height:40px;
	line-height:20px;
	border-bottom:1px solid #ddd;
	padding-left:20px;
}
.item_contents{
	text-align:center;
}
.item_contents ion-icon{
    font-size: 26px;
    color: rgb(37, 142, 218);
  }