<!--
 * @Author: your name
 * @Date: 2020-05-08 14:05:34
 * @LastEditTime: 2020-05-14 13:39:21
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \app\src\app\compontent\area-select\area-select.component.html
 -->
 <ion-toolbar color="primary">
  
  <ion-buttons slot="end">
    <ion-button color="warning"  type="button" fill="outline" (click)='dissView()'  > 取消选择</ion-button>
      <ion-button color="secondary"  expand="block" fill="outline" (click)='selestData()' type="button">确定</ion-button>

  </ion-buttons>
  
</ion-toolbar>
 <ion-content>
 <ion-grid>
   <ion-row>
    <ion-col >
      <tree-root [nodes]="nodes" #tree  [options]="options" 
      >
      <ng-template #treeNodeTemplate let-node let-index="index">
         <input type='checkbox' (ionChange)="check(node, !node.data.checked)"  [indeterminate]="node.data.indeterminate"  [checked]="node.data.checked"/>&nbsp;&nbsp;
        <span >{{ node.data.name }}</span>
      </ng-template>
      </tree-root>
    </ion-col>
    <ion-col>
      <ion-list>
        <ion-item-group *ngFor="let item of rivers" >
       
        <ion-item-divider  class="item_title" (click)='riverSelect(item)'>
            <ion-label   type="button" > {{item.name}}</ion-label>
            <ion-icon slot='end' name="caret-down-outline"></ion-icon>
        </ion-item-divider>
          <ion-list *ngIf='item.children.length>0' >
            <ion-grid>
              <ion-row>
                <ion-col size=4 *ngFor='let select of item.children'>
                  <ion-button expand="full" color="{{select.flag?'primary':'light'}}" (click)='changeSelect(select)'>{{select.stnm}}</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
          
        
        </ion-item-group>
        </ion-list>
      <!-- <ion-radio-group [(ngModel)]="selectRiver">
        <ion-list-header>
          <ion-label>河流</ion-label>
        </ion-list-header>
    
        <ion-item *ngFor="let item of rivers">
          <ion-label >{{item}}</ion-label>
          <ion-radio slot="start" value="{{item}}"></ion-radio>
        </ion-item>
      </ion-radio-group> -->
    </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>
