<!--
 * @Author: your name
 * @Date: 2020-04-03 16:56:05
 * @LastEditTime: 2021-04-06 18:57:29
 * @LastEditors: xcb
 * @Description: In User Settings Edit
 * @FilePath: \app\src\app\login\login.page.html
 -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>登录</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen='true'>
	<div style="height: 18%;background-color: rgb(37, 142, 218);">

	</div>
	<div style="height: 18%;text-align: center; padding: 8px 0;">
		<!-- <img src="assets/image/login.png" style="width: 40px;"> -->
		<div style="font-size: 20px;
		color: rgb(37, 142, 218);;
		line-height: 40px;
		margin-top:40px;
		font-weight: 900;">水文泥沙信息系统</div>
	</div>
	<div style="height: 46%;box-sizing: border-box;padding: 0px 46px;">
		<ion-item style='border: 1px solid rgb(37, 142, 218);margin:0 0 8px 0;'>
			<ion-icon name="people-outline" style="font-size: 32px;"></ion-icon>
			<ion-select [(ngModel)]='dep' value='{{dep}}' selectedText='{{dep}}' placeholder="部门" style="width: 100%;max-width: 100%;padding-left: 10px;" okText='确定' cancelText='取消'>
				<ion-select-option *ngFor='let item of depList' value="{{item}}">{{item}}</ion-select-option>
			  </ion-select>
		</ion-item>	
		<ion-item style='border: 1px solid rgb(37, 142, 218);'>
			<ion-icon class="iconfont icon-config-account"></ion-icon>
			<ion-label fixed></ion-label>
			<ion-input type="text" style="height: 40px;line-height: 40px" [(ngModel)]='name' placeholder="账号" ></ion-input>
		</ion-item>	
		<ion-item  style='border: 1px solid rgb(37, 142, 218);margin: 8px 0;'>
			<ion-icon class="iconfont icon-mima"></ion-icon>
			<ion-label fixed></ion-label>
			<ion-input type="password" style="height: 40px;line-height: 40px" [(ngModel)]='password' placeholder="登录密码"></ion-input>
		</ion-item>	
		<!-- <ion-item lines="none" style="float: right">
			<a  color="primary" style="text-decoration: none" href="#">忘记密码</a>
			
		</ion-item> -->
		<div id="gvcode" style="height: 40px;line-height: 40px">

		</div>
		<div style="text-align: center;">
			<ion-button expand="block" style="height: 40px;
		font-size: 18px;" color="primary" (click)='logIn()'>
				登录
			</ion-button>
		</div>
	
		
	
	
	</div>
	<div style="height: 18%;background-color: rgb(37, 142, 218);">
		<img src="assets/image/applog.gif" style="height: 100%;width: 100%;" alt="">
	</div>


</ion-content>
