<ion-toolbar color="primary">
  <ion-buttons slot="start" >
      <!-- <ion-icon name="chevron-back-outline" size="large"></ion-icon> -->
      <ion-button color="light" type="button" fill="outline" (click)='dissView()'> 关闭</ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button color="light" type="button" fill="outline" (click)='fileUpLoad()'>
        开始上传
      </ion-button>
  
    </ion-buttons> -->
  </ion-toolbar>
<ion-content>
  <ion-slides style="touch-action: none;">
    <ion-slide *ngFor='let item of slideList'>
      <div  style="width: 100%;">
        <div style="width: 100%;">
          <ion-item-divider>
            <ion-label>
              {{item.title}}
            </ion-label>
          </ion-item-divider>
        </div>
        
        <div id='{{item.id}}'  class="klchart"></div>
        <div style="text-align: left;padding: 0 20px;">
          <div>平均粒径:<span style="color:rgb(37, 142, 218)">{{item.avpd}}</span></div>
          <div>最大粒径:<span style="color:rgb(37, 142, 218)">{{item.mxpd}}</span></div>
          <div>中值粒径:<span style="color:rgb(37, 142, 218)">{{item.mdpd}}</span></div>
        </div>
      </div>
      
    </ion-slide>
  </ion-slides>
</ion-content>
