<!--
 * @Author: your name
 * @Date: 2020-04-03 16:56:05
 * @LastEditTime: 2020-05-06 16:46:57
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \app\src\app\pages\hyd-info\hyd-info.page.html
 -->
<app-tabtitle [inpData]="titles"></app-tabtitle>

<ion-content>
  <ion-item >
    <ionic-selectable
    *ngIf='selectTab!="tab3"'
    [(ngModel)]="station"
    [items]="stations"
    itemValueField="stcd"
    itemTextField="stnm"
    [canSearch]="true"
    style='text-align: right;'
    (onChange)="staionChange($event)">
    <ng-template ionicSelectableCloseButtonTemplate>
      <ion-icon name="close-circle" style="font-size: 24px;"></ion-icon>
    </ng-template>
  </ionic-selectable>
    <!-- <ion-select *ngIf='selectTab!="tab3"' name='stnm'  value="60103400" (ionChange)="staionChange($event)"  [(ngModel)]='station'  placeholder='选择站点' okText="确定" cancelText="取消">
      <ion-select-option *ngFor='let item of stations'  [value]="item.stcd" >{{item.stnm}} </ion-select-option>
      
    </ion-select> -->
    <ionic-selectable
    *ngIf='selectTab=="tab3"'
    [(ngModel)]="dxstation"
    [items]="stations"
    itemValueField="stcd"
    itemTextField="stnm"
    [canSearch]="true"
    style='text-align: right;'
    [isMultiple]="true"
    (onChange)="getStationList($event)">
    <ng-template ionicSelectableCloseButtonTemplate>
      <ion-icon name="close-circle" style="font-size: 24px;"></ion-icon>
    </ng-template>
  </ionic-selectable>
    <!-- <ion-select *ngIf='selectTab=="tab3"' name='stnm' multiple value="60103400" (ionChange)="getStationList($event)"   [(ngModel)]='dxstation' (ngModelChange)="getStationList()" interface="action-sheet" placeholder='选择站点' okText="确定" cancelText="取消">
      <ion-select-option *ngFor='let item of stations' [value]="item.stcd">{{item.stnm}}</ion-select-option>
      
    </ion-select> -->
  </ion-item>
 
    <ion-grid>
      <ion-row>
        <ion-col size="6">
           <ion-item lines="none">
          <ion-datetime name="startTime" slot="start"  style="padding: 0; margin-right: 10px;" display-format="YYYY/MM/DD HH:mm" cancel-text='取消' doneText='确定' picker-format="YYYY MM DD H:mm"
            [(ngModel)]="startTime" placeholder='起始时间'  (ionChange)='startTimeChange($event)' ></ion-datetime>
        <ion-label  position="fixed" >
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-label>
         </ion-item>
          </ion-col>
        <ion-col size="6">
         
            <ion-item lines="none">

            <ion-datetime name="endTime" slot="start"  style="padding: 0; margin-right: 10px;" display-format="YYYY/MM/DD HH:mm" cancel-text='取消' doneText='确定'  picker-format="YYYY MM DD H:mm"
              [(ngModel)]="endTime" placeholder='截止时间'  (ionChange)='endTimeChange($event)'></ion-datetime>
              <ion-label  position="fixed" >
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-label>
         </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>
  <ion-item lines='none'>
    <ion-segment (ionChange)="segmentChanged($event)" value='tab1'>
      <ion-segment-button value="tab1" type="button">
        <ion-label>实时水位流量</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tab2" type="button">
        <ion-label>同期对比</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tab3" type="button">
        <ion-label>多站对比</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-item>
  <ion-grid *ngIf="selectTab=='tab2'">
    <ion-row>
      <ion-col>
        <ion-select name='stnm' value="" multiple  [(ngModel)]='year' interface="action-sheet" placeholder='历史年份' okText="确定" cancelText="取消">
          <ion-select-option *ngFor='let item of years' value="{{item}}">{{item}}</ion-select-option>
          
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-select name='stnm' value="z"   [(ngModel)]='lstype' interface="action-sheet" placeholder='类型' okText="确定" cancelText="取消">
          <ion-select-option  value="z">水位</ion-select-option>
          <ion-select-option  value="q">流量</ion-select-option>
          <ion-select-option  value="s">含沙量</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  <ion-grid *ngIf="selectTab=='tab3'">
    <ion-row>
      <ion-col>
          <ion-select name='stnm' value="z"  [(ngModel)]='dzType' interface="action-sheet" placeholder='类型' okText="确定" cancelText="取消">
            <ion-select-option  value="z">水位</ion-select-option>
            <ion-select-option  value="q">流量</ion-select-option>
            <ion-select-option  value="s">含沙量</ion-select-option>
          </ion-select>
      </ion-col>
      <ion-col>
        <ion-item lines='none'>
          <ion-label>分组展示</ion-label>
          <ion-checkbox  [(ngModel)]="groupFlag"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  <ion-item lines='none'>
    <ion-button expand="full" style="width: 100%;margin:0" color="primary" (click)="getTab1Data()">查询</ion-button>
  </ion-item>
  <div id='hydInfochart' class="hydInfochart"></div>
</ion-content>