<!--
 * @Author: your name
 * @Date: 2020-04-03 16:56:05
 * @LastEditTime: 2020-05-04 16:15:37
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \app\src\app\pages\cal-year-line\cal-year-line.page.html
 -->
<app-tabtitle [inpData]="titles"></app-tabtitle>

<ion-content>
  
    <ion-grid>
       <ion-row>
         <ion-col *ngFor='let select of seleceList'>
           <ion-button expand="full" size="small" color="{{select.flag?'primary':'light'}}" (click)='changeSelect(select)'>{{select.name}}</ion-button>
         </ion-col>
       </ion-row>
     </ion-grid>
  <ion-item (click)='selectSation()'>
    <ion-input placeholder='站点选择' style='text-align: right;' [(ngModel)]="stationName"></ion-input>
    <ion-icon position="fixed" name="chevron-forward-outline"></ion-icon>
  </ion-item>
 
  <ion-grid>
    <ion-row>
      <ion-col size="6">
         <ion-item lines="none">
          <ion-label   style="width: 70px; min-width: 70px;">
            开始时间
          </ion-label>
        <ion-datetime  value="2012" display-format="YYYY" [min]="min" [max]="max" cancel-text='取消' doneText='确定' picker-format="YYYY"
          [(ngModel)]="startTime" placeholder='起始年份' (ionChange)="startTimeChange($event)"></ion-datetime>
     
       </ion-item>
        </ion-col>
      <ion-col size="6">
       
          <ion-item lines="none">
            <ion-label   style="width: 70px; min-width: 70px;" >
              截至时间
            </ion-label>
          <ion-datetime  value="2012" display-format="YYYY" [min]="min" [max]="max" cancel-text='取消' doneText='确定' picker-format="YYYY"
            [(ngModel)]="endTime" placeholder='截止年份' (ionChange)="endTimeChange($event)"></ion-datetime>
           
       </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>
  
  <ion-item lines='none'>
    <ion-button expand="full" style="width: 100%;margin:0" color="primary" (click)='searchData()'>查询</ion-button>
  </ion-item>
  <div id='calYearchart' class="calYearchart"></div>
</ion-content>
