<ion-toolbar>
   <ion-row lines="none" style="border-bottom: 1px solid #ddd;padding: 0;height: 80px;">  <!--表格标签-->

      <ion-col style="height: 80px;text-align: center;line-height: 60px">{{selectStation.stationName}}</ion-col>
    
      <ion-col lines="none"  style="text-align: right;border-left: 1px solid #ddd;font-size: 16px;padding: 0px">
      <ion-item lines="none" style="font-size: 12px; height: 40px;border-bottom: 1px solid #ddd;">
         <ion-text >库水位(m)</ion-text >
      </ion-item>
      <ion-item lines="none" style="font-size: 12px;height: 40px;border-bottom: 1px solid #ddd;">
      <ion-text  >{{selectStation.waterLev}}</ion-text >
      </ion-item>
      </ion-col>
      <ion-col lines="none"  style="text-align: right;border-left: 1px solid #ddd;font-size: 16px;padding: 0px">
      <ion-item lines="none" style="font-size: 12px; height: 40px;border-bottom: 1px solid #ddd;">
         <ion-text >入库(m³/s)</ion-text >
      </ion-item>
      <ion-item lines="none" style="font-size: 12px;height: 40px;border-bottom: 1px solid #ddd;">
      <ion-text  >{{selectStation.rflow}}</ion-text >
      </ion-item>
      </ion-col>
      <ion-col lines="none"  style="text-align: right;border-left: 1px solid #ddd;font-size: 16px;padding: 0px">
      <ion-item lines="none" style="font-size: 12px; height: 40px;border-bottom: 1px solid #ddd;">
         <ion-text >出库(m³/s)</ion-text >
      </ion-item>
      <ion-item lines="none" style="font-size: 12px;height: 40px;border-bottom: 1px solid #ddd;">
      <ion-text  >{{selectStation.cflow}}</ion-text >
      </ion-item>
      </ion-col>
   </ion-row>
</ion-toolbar>

<ion-content [fullscreen]="true">
   
   <div id="mapCon">
      <div id="mouse-position"></div>
      <div id="layerControl" class="layerControl">
          <div class="title" id='maplist' (click)='displaymaplist()'><label>图层列表</label><label id='down'>∨</label><label id='up'>∧</label></div>
          <ul id="layerTree" class="layerTree">
             <li *ngFor='let item of LayerMngName'>
               <ion-toggle (ionChange)='SetBLayerSwitchAccLayerMng($event,item.title)' [(ngModel)]='item.checked' checked='{{item.checked}}'   ></ion-toggle>
               <ion-label>{{item.title}}</ion-label>
             </li>
          </ul>
      </div>
  </div>
<div id="map" style="width: 100%;height: 85%"></div> 


<!-- <div class="" data-control="BOX" id="Box_points_switch">
   <label style="font-size:14px;">定位</label><input class="mui-switch mui-switch-anim" type="checkbox" id="navswitch">
</div> -->
<ion-searchbar placeholder="搜索"></ion-searchbar>
<div class='searchList' *ngIf='isShow'>
   <!-- <ion-list-header>搜索历史</ion-list-header> -->
   <p style='margin:0'>
      <ion-chip *ngFor='let item of searchList'>
         <ion-label (click)='selectLable(item.args)'>{{item.text}}</ion-label>
      </ion-chip>
    </p>
</div>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
