
<ion-header  >
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <!-- <ion-icon name="chevron-back-outline" size="large"></ion-icon> -->
      <ion-button >
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>关于</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      App名称：{{appName}}
    </ion-item>
    <ion-item>
      Package名称：{{packageName}}
    </ion-item>
    <ion-item>
      <!-- VersionCode：{{versionCode}} -->
      版权所有:长江水利委员会水文局
    </ion-item>
    <ion-item>
      <!-- VersionCode：{{versionCode}} -->
      <span style="display: inline-block;width: 25%;">联系方式:</span><span>电话(027-82829676) Email(21310369@qq.com)</span>
      
    </ion-item>
    <ion-item>
      版本号：{{versionNumber}}
    </ion-item>
  </ion-list>
</ion-content>
