*{
	font-size:14px;
}
.my-custom-menu{
  margin-top:52px;
  overflow: scroll;
	--width: 160px
}
.station_elect{
    padding: 60px 0px;
}
ion-modal{
    --height:'80%!important'
  }
  .item_contents ion-icon{
    font-size: 26px;
    color: rgb(37, 142, 218);
  }