<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="goBack()">
      <!-- <ion-icon name="chevron-back-outline" size="large"></ion-icon> -->
    <!-- <ion-back-button></ion-back-button> -->
    <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>注册</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="box-sizing: border-box;padding: 10px 46px;">
    <ion-item style='border: 1px solid rgb(37, 142, 218);margin:0 0 8px 0;'>
      <ion-icon name="people-outline" style="font-size: 32px;"></ion-icon>
      <ion-select [(ngModel)]='dep' value='{{dep}}' placeholder="部门" style="width: 100%;max-width: 100%;padding-left: 10px;" okText='确定' cancelText='取消'>
        <ion-select-option *ngFor='let item of depList' value="{{item}}">{{item}}</ion-select-option>
        </ion-select>
    </ion-item>	
    <ion-item style='border: 1px solid rgb(37, 142, 218);'>
      <ion-icon class="iconfont icon-config-account"></ion-icon>
      <ion-label fixed></ion-label>
      <ion-input type="text" style="height: 40px;line-height: 40px" [(ngModel)]='name' placeholder="手机账号" ></ion-input>
    </ion-item>	
    <ion-item  style='border: 1px solid rgb(37, 142, 218);margin: 8px 0;'>
      <ion-icon class="iconfont icon-mima"></ion-icon>
      <ion-label fixed></ion-label>
      <ion-input type="password" style="height: 40px;line-height: 40px" [(ngModel)]='password' placeholder="登录密码"></ion-input>
    </ion-item>	
    <ion-item  style='border: 1px solid rgb(37, 142, 218);margin: 8px 0;'>
      
      <ion-button expand="block" fixed slot='end'  (click)='getUuid()'>获取uuid</ion-button>
      <ion-input type="uuid" style="height: 40px;line-height: 40px" [(ngModel)]='uuid' placeholder="uuid"></ion-input>
    </ion-item>
    <ion-button expand="block" style="height: 40px;
		font-size: 18px;" color="primary" (click)='register()'>
				注册
			</ion-button>
  </div>
</ion-content>
