<!--
 * @Author: your name
 * @Date: 2020-04-03 16:56:05
 * @LastEditTime: 2020-05-07 16:38:06
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \app\src\app\pages\guding-dm\guding-dm.page.html
 -->
<app-tabtitle [inpData]="titles"></app-tabtitle>

<ion-content>
	<!-- <ion-radio-group [(ngModel)]="dateType">

		<ion-grid>
		  <ion-row>
			<ion-col offset='6'>
	
			  <ion-item lines="none">
				<ion-radio value="1"></ion-radio>
				<ion-label style="text-align: center;">单断面</ion-label>
				<ion-radio value="2"></ion-radio>
				<ion-label style="text-align: center;">多断面</ion-label>
	
			  </ion-item>
			</ion-col>
	
		  </ion-row>
		</ion-grid>
	  </ion-radio-group> -->
	<ion-item (click)='selectSection()'>
		<ion-input placeholder='断面选择' style='text-align: right;' [(ngModel)]="sectionName"></ion-input>
		<ion-label slot="end">
		  <ion-icon name="chevron-forward-outline"></ion-icon>
		</ion-label>
	
	</ion-item>
	<ion-item>
		 <ion-label>
      
    </ion-label>
		    <ion-select multiple="true" value="brown" [(ngModel)]="selectedMsno" interface="action-sheet" placeholder='选择测次'  okText="确定" cancelText="取消">
		    <ion-select-option value="{{item.value}}" *ngFor="let item of msnos">{{item.name}}</ion-select-option>
		      
		    </ion-select>
	</ion-item>
	
	<ion-grid>
	 <ion-row>
    <ion-col>
     <ion-button expand="full" color="light" disabled={{btnFlag}} (click)="preDm()">上断面</ion-button>
    </ion-col>
    <ion-col>
      <ion-button  expand="full" color="primary" (click)='searchData()'>查询</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="light" disabled={{btnFlag}} (click)='nextDm()'>下断面</ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>
  <ion-item>
    <ion-range min="{{minY}}" max="{{maxY}}" pin='true' snaps='true'  value="{{water}}" (ionChange)='waterChange($event)' step="0.1">
	  <ion-label slot="start">水位:{{water.toFixed(2)}}</ion-label>
	  
	  <!-- <ion-icon slot="end" name="add-circle-outline"></ion-icon> -->
	 
    </ion-range>
  </ion-item>
  <ion-item lines='none'>
	<ion-button expand="full" color="light" type="button" *ngIf='cxmodalFlag' (click)='cxmodal()'>垂线级配</ion-button>
	<ion-button expand="full" color="light" type="button" *ngIf='pjmodalFlag' (click)='pjmodal()'>平均级配</ion-button>
  </ion-item>
	<div id='chart'  class="demo-chart"></div>
	<ion-grid *ngIf="sixData.length>0">
		<ion-row *ngFor="let item of sixData" style="border: 1px solid #ddd;">
		
		  <ion-col size="6" >测次：{{item.msno}}</ion-col>
		  <ion-col size="6" >平均水深(m)：{{item.depth}}</ion-col>
		  <ion-col size="6" >水面宽(m):{{item.width}}</ion-col>
		  <ion-col size="6" >面积(m²)：{{item.area}}</ion-col>
		  <ion-col size="6" >河相系数：{{item.hcxs}}</ion-col>
		  <ion-col size="6" >最大水深(m)：{{item.maxDepth}}</ion-col>
		</ion-row>
	  </ion-grid>
</ion-content>
