<app-tabtitle [inpData]="titles"></app-tabtitle>

<ion-content>
	
	<ionic-selectable
    [(ngModel)]="section"
    [items]="sectonList"
    itemValueField="stcd"
    itemTextField="stnm"
    [canSearch]="true"
    style='text-align: right;'
    (onChange)="sectionChange($event)">
    <ng-template ionicSelectableCloseButtonTemplate>
      <ion-icon name="close-circle" style="font-size: 24px;"></ion-icon>
    </ng-template>
  </ionic-selectable>
	<ion-item>
		 <ion-label>
      
    </ion-label>
		    <ion-select multiple="true" value="brown" [(ngModel)]="selectedMsno" interface="action-sheet" placeholder='选择测次'   okText="确定" cancelText="取消">
		    <ion-select-option value="{{item.OBDT}}" *ngFor="let item of msnos">{{item.OBDT}}</ion-select-option>
		      
		    </ion-select>
	</ion-item>
	
	<ion-grid>
	 <ion-row>
    
    <ion-col>
      <ion-button  expand="full" color="primary" (click)='dmxChart()'>查询</ion-button>
    </ion-col>
    
  </ion-row>
  </ion-grid>
  <ion-item>
    <ion-range min="{{minY}}" max="{{maxY}}" pin='true' snaps='true'  value="{{water}}" (ionChange)='waterChange($event)' step="0.1">
      <ion-label slot="start">水位:{{water.toFixed(2)}}</ion-label>
    </ion-range>
  </ion-item>
	<div id='daDmchart'  class="daDmchart"></div>
	<ion-grid *ngIf="sixData.length>0">
		<ion-row *ngFor="let item of sixData" style="border: 1px solid #ddd;">
		
		  <ion-col size="6" >测次：{{item.msno}}</ion-col>
		  <ion-col size="6" >平均水深(m)：{{item.depth}}</ion-col>
		  <ion-col size="6" >水面宽(m):{{item.width}}</ion-col>
		  <ion-col size="6" >面积(m²)：{{item.area}}</ion-col>
		  <ion-col size="6" >河相系数：{{item.hcxs}}</ion-col>
		  <ion-col size="6" >最大水深(m)：{{item.maxDepth}}</ion-col>
		</ion-row>
	  </ion-grid>
</ion-content>
